body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
}

header {
  background-color: #f4f4f4;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  background-color: #343434;
  color: #fff;
  text-align: center; /* 中央表示 */
  padding: 1rem 0;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  display: grid;
  grid-template-columns: 3fr 1fr; /* Blog cards take 3/4, sidebar takes 1/4 */
  gap: 2rem;
  max-width: 1200px;
  margin: 2rem auto;
  padding: 1rem;
}

.blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: calc(100% - 2rem); /* Added left/right padding */
  margin-bottom: 13px;
  padding: 30px 20px 20px 30px;;
  background: #fff;
  border: 1px solid #cfcfcf;
}

.blog-card img {
  max-width: 150px;
}

.blog-card .title {
  max-width: 70%; /* Fixed title width */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blog-card .tags a {
  color: #0073e6;
  text-decoration: underline;
  cursor: pointer;
}

/* Sidebar styles */
.sidebar {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.search-bar input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.categories ul {
  list-style: none;
  padding: 0;
}

.categories li {
  padding: 0.5rem 0;
}

.categories a {
  color: #555;
  font-weight: bold;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 2rem 0;
}

.pagination button {
  background: #e0e0e0;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.pagination button.active {
  background-color: #d44b3f;
  color: #fff;
}