---
import { getCollection } from 'astro:content';
import BaseLayout from '../../../layouts/BaseLayout.astro';
import PostList from "../../../components/PostList.astro";

// 1. コレクションエントリーごとに新しいパスを生成
export async function getStaticPaths() {
  const blogEntries = await getCollection('posts');
  const paths = blogEntries.map(entry => ({
    params: { id: entry.id.replace('.md', ''), slug: entry.slug }, props: { entry },
  }));
  return paths;
}
// 2. テンプレートでは、プロパティからエントリーを直接取得できる
const { entry } = Astro.props;
const { Content } = await entry.render();
---
<BaseLayout>
    <p>
        {new Date(entry.data.publishedAt).toLocaleDateString('ja-JP', { year: 'numeric', month: '2-digit', day: '2-digit' })}
        {entry.data.modifiedAt && `(${new Date(entry.data.modifiedAt).toLocaleDateString('ja-JP', { year: 'numeric', month: '2-digit', day: '2-digit' })})`}
    </p>
    <h1>{entry.data.title}</h1>
    <Content class="content" />
</BaseLayout>

<style>
    .content {
        margin-left: 20%;
    }
</style>