---
// コンポーネントをインポート
import { getCollection, getEntry } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogCard from '../components/BlogCard.astro';
import { postsDefaultSortFunc } from "../content/utils";

// 仮データ
const allPosts = (await getCollection("posts")).sort(postsDefaultSortFunc);

const categories = [
  { name: 'AI', count: 71 },
  { name: 'Backend', count: 223 },
  { name: 'Client side', count: 147 },
];

const currentPage = 1;
const totalPages = 5;
---
<BaseLayout>
  <div class="container">
    <!-- ブログカードセクション -->
    <div class="blog-container">
        <BlogCard />
      <div class="pagination">
      <button>Previous</button>
      {[...Array(totalPages).keys()].map(page => (
        <button class={currentPage === page + 1 ? 'active' : ''}>
        {page + 1}
        </button>
      ))}
      <button>Next</button>
      </div>
    </div>

    <!-- サイドバー -->
    <aside class="sidebar">
      <div class="search-bar">
        <input type="text" placeholder="記事を検索" />
      </div>
      <div class="categories">
        <h3>カテゴリー</h3>
        <ul>
          {categories.map(category => (
            <li><a href="#">{category.name} ({category.count})</a></li>
          ))}
        </ul>
      </div>
    </aside>
  </div>
</BaseLayout>

<style>
  .container{
    width: 100%;
    max-width: 1084px;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
  }
  .blog-container {
    gap: 10px; /* 間隔を狭める */
  }
</style>