---
// コンポーネントをインポート
import { getCollection, getEntry } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogCard from '../components/BlogCard.astro';
import { postsDefaultSortFunc } from "../content/utils";
import Tag from "../components/Tag.astro"

const allPosts = await getCollection("posts");
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
const currentPage = 1;
const totalPages = 5;
---
<BaseLayout>
  <div class="container">
    <!-- ブログカードセクション -->
    <div class="blog-container">
        <BlogCard />
      <div class="pagination">
      <button>Previous</button>
      {[...Array(totalPages).keys()].map(page => (
        <button class={currentPage === page + 1 ? 'active' : ''}>
        {page + 1}
        </button>
      ))}
      <button>Next</button>
      </div>
    </div>

    <!-- サイドバー -->
    <aside class="sidebar">
      <div class="categories">
        <h3>Tags</h3>
        <ul>
          {tags.map(tag => (
            <Tag name={tag} href={`/tags/${tag}`} focused={false} />
          ))}
        </ul>
      </div>
    </aside>
  </div>
</BaseLayout>

<style>
  .container{
    width: 100%;
    max-width: 1084px;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
  }
  .blog-container {
    gap: 10px; /* 間隔を狭める */
  }
</style>