---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout>
    <!-- Profile Section -->
    <section id="profile" class="profile">
      <h2>Profile</h2>
      <a href="/profile"><img src="/src/assets/profile.jpeg" alt="Profile" class="profile-image" /></a>
    </section>

    <!-- Blog Section -->
    <section id="blog" class="blog">
      <h2>Blog</h2>
      <a href="/posts"><img src="/public/assets/blog.jpeg" alt="Blog" class="blog-image" /></a>
    </section>
</BaseLayout>

<style>
  .profile {
    margin-left: 20%;
  }
  .profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  .blog {
    margin-left: 20%;
  }
  .blog-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
</style>
