---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout>
    <!-- Profile Section -->
    <section id="profile" class="profile">
      <h2>Profile</h2>
      <a href="/profile"><img src="/assets/home/profile.png" alt="Profile" class="profile-image" /></a>
    </section>

    <!-- Blog Section -->
    <section id="blog" class="blog">
      <h2>Blog</h2>
      <a href="/posts"><img src="/assets/home/blog.png" alt="Blog" class="blog-image" /></a>
    </section>
</BaseLayout>

<style>
  .profile {
  }
  .profile-image {
    width: 590px;
    height: 410x;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
  .blog {
  }
  .blog-image {
    width: 590px;
    height: 410x;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
</style>
