---
import { getCollection, getEntry } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import { postsDefaultSortFunc } from "../content/utils";
import Tag from "../components/Tag.astro"
import Pagination from '../components/Pagination.astro';
import PostList from "../components/PostList.astro";
import { BLOG_TITLE, PAGE_SIZE } from "../constraint";

const allPosts = (await getCollection("posts")).sort(postsDefaultSortFunc);

const posts = allPosts.slice(0, PAGE_SIZE).filter((post) => !post.data.draft);

const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
---
<BaseLayout>
  <div class="container">
    <!-- ブログカードセクション -->
    <div class="blog-container">
      <PostList posts={posts} />
      <Pagination
        page={{ currentPage: 1,
                size: PAGE_SIZE,
                lastPage: Math.ceil(allPosts.length / PAGE_SIZE),
                url: {
                  current: '/posts/page/1"',
                  prev: '',
                  next: '/posts/page/2'
                }
              }}
        urlPrefix="/posts/page"
      />
    </div>

    <!-- サイドバー -->
    <aside class="sidebar">
      <div class="categories">
        <h3>Tags</h3>
        <ul>
          {tags.map(tag => (
            <Tag name={tag} href={`/tags/${tag}`} focused={false} />
          ))}
        </ul>
      </div>
    </aside>
  </div>
</BaseLayout>

<style>
  .container {
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
  }
  .blog-container {
    display: flex;
    align-items: stretch;
  }
  .ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
</style>
