---
import '../styles/profile.css';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
    <div class="profile">
        <h2>Profile</h2>
        <div class="profile_wrapper">
            <div class="face_image">
                <img src="/assets/face.jpg" alt="face" />
            </div>
            <div class="profile_info">
                <p class="profile_name">Yoshihito Ishihara / 石原 賢人</p>
                <p class="profile_job">Software Engineer (Infrastructure, Database)</p>
            </div>
        </div>
    </div>

    <div class="works">
        <h2>Works</h2>
        <ul>
            <li>DB Tech Showcase 2022に登壇 <a href="https://www.publickey1.jp/blog/22/newsql_tispr.html" target="_blank">参考</a></li>
            <li>Software Design 2023年8月号 第2特集 第4章 を寄稿 <a href="https://gihyo.jp/magazine/SD/archive/2023/202308" target="_blank">参考</a></li>
        </ul>
    </div>

    <div class="skills">
        <h2>Skills</h2>
        <ul>
            <li>Oracle</li>
            <li>AWS</li>
            <li>TiDB</li>
            <li>Python</li>
            <li>Golang</li>
    </div>

    <div class="experience">
        <h2>Experience</h2> 
        <p>2020.4 ~ Present : TIS.Inc</p>
    </div>

    <div class="certificate">
        <h2>Certificate</h2>
        <ul>
            <li>ORACLE MASTER Silver DBA 2019</li>
            <li>ORACLE MASTER Bronze DBA 2019</li>
        </ul>
    </div>

    <div class="resume">
        <h2>Resume</h2>
        <p>職務経歴書は<a href="https://docs.google.com/document/d/e/2PACX-1vQB12eW3gpD-de7_gOYKRz5W5U9qMS9Gvze4VGHfiKVWkYI7V3lHCzO6MjG7CbhQaYIB-VVngLnOmVo/pub" target="_blank">こちら</a>を参照ください</p>
    </div>
</BaseLayout>

<style>
    .profile{
        margin-bottom: 20px;
    }
    .profile_wrapper {
        display: flex;
        align-items: center;
    }
    .face_image {
        margin-right: 20px;
    }
    .face_image img {
        width: 100px;
        height: 120px;
        border-radius: 50%;
    }
    .profile_info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
    }
    .profile_name {
        font-size: 18px;
        margin: 0;
    }
    .profile_job {
        font-size: 18px;
        margin: 0;
        color: #6d6d6d;
    }

    a {
        color: #11ab00;
        text-decoration: none;
    }
</style>