---
// Props
export interface BlogProps {
  date: string;
  title: string;
}

const { date, title } = Astro.props;
---
<article class="blog-card">
  <p class="date">{date}</p>
  <h3>{title}</h3>
</article>

<style>
  .blog-card {
    border-bottom: 1px solid #ddd;
    background: #ffffffe6;
    padding: 30px 20px 20px 30px;
  }
  .date {
    font-size: 0.9rem;
    
  }
</style>
