<button class="hamburger" aria-label="メニュー">
  <span class="line"></span>
  <span class="line"></span>
  <span class="line"></span>
</button>

<style>
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 1.75rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;
  }
  
  .line {
    width: 2rem;
    height: 0.25rem;
    background-color: var(--color-text-inverse);
    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
  }
  
  .hamburger.active .line:first-child {
    transform: rotate(45deg);
  }
  
  .hamburger.active .line:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.active .line:nth-child(3) {
    transform: rotate(-45deg);
  }
</style>
