<header class="header">
    <h1><a href="/">Yoshihito Tech Blog</a></h1>
    <nav class="nav">
      <a href="/profile">Profile</a>
      <a href="/blog">Blog</a>
    </nav>
  </header>
  
<style>
.header {
    display: flex;
    padding: 1rem;
}
.nav a {
    margin-left: 1rem;
    text-decoration: none;
    color: black;
}
</style>