---
// コンポーネントとスタイルをインポート
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import "../styles/global.css";
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yoshihito Tech Blog</title>
  </head>
  <body>
    <Header />
    <div class="content">
      <slot /> <!-- コンテンツ表示 -->
    </div>
    <Footer />
  </body>
</html>

<style>
  .content {
    margin-left: 20%;
    margin-right: 20%;
  }
</style>